$cordeFundo: #040714;
$cordeFundoSecundario: #13151d;
$corTextoPrincipal: silver;
$corTextoSecundaria: #f9f9f9;
$cordeFundoBotaoPrimario: #6421ff;
$cordeFundoBotaoSecundario: #0063e5;
$cordeFundoBotaoDark: rgba(0, 0, 0, .8);